/**
*
* ----------------------------------------------------------
*
* Template : 
* Author : 
* Author URI : 
*
* ----------------------------------------------------------
*
**/

/* Table Of Content
---------------------------------------------------------
00. Global CSS
01. Suggested Alarms
02. How it Works
03. Global Holidays


--------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* -----------------------------------
    01. General CSS
-------------------------------------*/

html,
body {
  font-size: 18px;
  line-height: 1.6em;
  color: #514d4d;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0 0 16px;
  line-height: 1.6em;
  margin-bottom: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001A38;
  margin: 0 0 26px;
}
h1 {
  font-size: 42px;
  line-height: 1.45em;
  margin-bottom: 30px;
}
h2 {
  font-size: 45px;
  line-height: 1.27em;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  line-height: 1.6em;
  margin-bottom: 15px;
}
h4 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
}
h5 {
  font-size: 18px;
  line-height: 1em;
  margin-bottom: 0;
}
h6 {
  font-size: 16px;
  line-height: 1.4em;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  transition: all 0.3s ease 0s;
  outline: none !important;
  text-decoration: none !important;
}
a:active,
a:hover {
  text-decoration: none;
  outline: 0 none;
}
strong {
    font-weight: 700;
}

textarea:focus, input:focus{
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;

}
/* -----------------------------------
  00. Global CSS
-------------------------------------*/
.section--wrapp 
{
  padding: 100px 0;
}
.sec--heading h2
{
  font-size: 45px;
  font-weight: 700;
  color: #26ABE2;
}
.sec--heading p
{
  font-size: 20px;
  color: #444444;
  font-weight: 600;
}

/* content--wrapp--box */
.content--wrapp--box
{
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin-top: 40px;
  border: 1px solid #baebff;
}
.content--inner--box
{
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%);  
  padding: 60px 40px;
}

.border--radius 
{
  border-radius: 20px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #D9F4FF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #26ABE2; 
}
.bg--default
{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* -----------------------------------
  03. Hero Page Banner
-------------------------------------*/
.hero--page--banner 
{
  padding: 100px 0 300px;
  background-image: url('../images/banner-bg.jpg');
  position: relative;
  z-index: 1;
}
.hero--page--banner::after{
  position: absolute;
  content: '';
  background-color: #26ABE2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: -1;
}

.hero--page--banner h2 
{
  font-size: 60px;
  color: #FFFFff;
  font-weight: 700;
}

.hero--page--banner p 
{
  font-size: 26px;
  color: #FFFFff;
  font-weight: 400;
}
.hero--page--banner .sec--heading h2, .hero--page--banner .sec--heading p
{
  z-index: 10;
}


/* -----------------------------------
  01. Suggested Alarms
-------------------------------------*/
.suggested--alarms .content--main 
{
  height: 384px;
  overflow: auto;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.content--main a 
{
  border: 2px solid #D9F4FF;
  padding: 12px 27px;
  border-radius: 6px;
  text-align: center;
}
.content--main a:hover{
  background-color: #D9F4FF;
}
.suggest--btn {
  color: #707070;
  background: transparent;
  margin: 10px;
  width: 14%;
}



/* -----------------------------------
  02. How it Works
-------------------------------------*/

.how--it--works .content--main-boxs 
{
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.how--it--works .content--main-boxs .box 
{
  margin: 15px;
  width: 30%;
  padding: 20px;
  background-color: #26ABE2;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.how--it--works .content--main-boxs .box h2
{
  color: #26ABE2;
  background-color: #FFFFFF;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 55px;
  line-height: 100px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-top: -70px;
  box-shadow: 0px 10px 0 rgb(0 0 0 / 10%);
  margin-bottom: 50px;
}
.how--it--works .content--main-boxs .box h4
{
  font-size: 20px;
  font-weight: 600;
}
.how--it--works .content--main-boxs .box p 
{
  font-size: 15px;
  font-weight: 400;
}
.how--it--works .content--main-boxs .box h4, .how--it--works .content--main-boxs .box p 
{
  color: #FFFFFF;
}


/* -----------------------------------
  03. Global Holidays Page
-------------------------------------*/
.global--after--sec
{
  margin-top: -230px;
  position: relative;
  z-index: 20;
  padding-bottom: 150px;
}
.global--after--sec .content--wrapp--box {
  box-shadow: 0 -10px 60px rgb(0 0 0 / 10%);
  background: rgb(238 238 238 / 53%);
}
.global--holidays .content--wrapp--box table tr th
{
  font-size: 20px;
  color: #26ABE2;
  font-weight: 600;

}
.global--holidays .content--wrapp--box table tr {
  border-bottom-color: #D9F4FF;
}
.global--holidays .content--wrapp--box table td
{
  font-size: 16px;
  font-weight: 400;
}
.table-hover>tbody>tr:hover>* {
  --bs-table-accent-bg: #D9F4FF;
  color: #26ABE2;
}

/* -----------------------------------
  02. Converter Page
-------------------------------------*/
.global--converter .content--inner--box 
{
  background-color: #26ABE2;
}
.digital--clock 
{
  border: 1px solid #EEEEEE;
  padding: 30px;
  color: #FFF;
  position: relative;
  border-radius: 10px;
}
.digital--clock .time 
{
  display: flex;
  align-items: center;
  font-size: 50px;
}
.digital--clock .time .right--side 
{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  line-height: 24px;
}

.dot-menu-btn
{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: #FFFFFF;
  font-size: 1.5em;
  cursor: pointer;

}
.dot--menu 
{
  z-index: 999;
  position: absolute;
  top: 7px;
  right: 5px;
  list-style: none;
  background-color: #26ABE2;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}
.dot--menu.active 
{
  visibility: visible;
  opacity: 1;
  margin-right: 40px;
}
.menu--item
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock--format--text
{
  color: #FFF;
  font: 0.9em;
  margin-right: 20px;
}
.format--switch--btn
{
  width: 35px;
  height: 15px;
  background-color: #001A38;
  border-radius: 75px;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
              inset -2px -2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.format--switch--btn:before 
{
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 5px 25px #FFFFFF;
  transform: translateX(-10px);
  transition: 0.3s ease;
  transition-property: background, transform;
}

.format--switch--btn.active:before
{
  background-color: #26ABE2;
  box-shadow: 0 5px 25px #26ABE2;
  transform: translateX(10px);
}
.time--format--input 
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 0;
  color: #FFFFFF;
}
.input--item 
{
  margin: 0 50px;
}
.input--item input 
{
  padding: 12px 15px;
  width: 350px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 0px solid;
  color: #26ABE2;
}


.header {
  padding: 20px 0;
  color: #000000;
}
.header a {
  margin-right: 15px;
}